body{
  font-family:Lora;
  background-image:url(../img/bg.jpg) ;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

.search {
  position: absolute;
  margin-left: 50%;
  top: 18px;
  /* float: center; */
  /* border: 1px solid yellow; */

  float: left;
  padding: 6px;
  border: none;
}

.search input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.myheader img {
  position: relative;
  border: 1px solid yellow;
  float: left;
  width: 10%;
  height: 10%;
  background: #555;
}

.myheader h1 {
  border-right: 1px solid orange;
  position: relative;
  top: 18px;
  left: 10px;
}


 nav{
   position: relative;
   /* top: 2%; */
   margin-top: 6%;
   width: 100%
   border-right: 1px solid red;
   /* margin-top: 50px; */
   /* background-color: #b3ffcc; */
   padding-top: 14px;
   padding-bottom: 14px;
 }

 .nav-item{
   /* color: blue; */
   color: white;
   font-size: 21px;
   margin-left: 20px;
   margin-right: 20px;
 }

#myfont {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  font-size: 100%;
  border: none;
}

.middle {
  position: relative;
  width: 100%;
  border: 3px solid green;
  /* padding: 10px; */
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  /* background-color: red; */
  /* margin: auto; */
  /* margin-left: 20%; */
  /* margin-right: 15%; */
}

#dropdownMenuButton{
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
}

footer {
  /* margin-top: 10px; */
  border: 3px solid red;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10%;
  background:
  /* color overlay */
    linear-gradient(
      rgba(240, 212, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    );
}

.footercon{
  border-radius: 25px;
  border: 3px solid #73AD21;
  padding: 20px;
  width: 210px;
  height: 170px;
  background-size:cover;
}

.bor{
  display: inline-block;
  border-right: 1px solid white;
  padding: 30px;
  margin-left: auto;
}



.f{
  position: relative;
  margin: 20px;
  display: inline-block;
}

.first{
  margin-left: 20%;
}

.last{
  margin-right: 20%;
}

ul{
  padding: auto;
}
